{% extends "../inc/base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/assets/css/jquery.fullPage.min.css">
<link href="/static/assets/css/ht_main.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/fly-anim.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}

<div id="fullpage">
	<div class="section s1 bg1">
		<div class="ht-main-title">
			
		</div>
	</div>
	<div class="section s2 bg2">
		<div class="fly "></div>
		<div class="main-s2-title">
			<div class="title-content">
				MT3移动科教-空间站
			</div>
		</div>
	</div>
	<div class="section s3 bg3" >
		<div class="trail">
			<div class="move-base move1"></div>
			<div class="move-base move2"></div>
			<div class="move-base move3"></div>
			<div class="move-base move4"></div>
			<div class="move-base move5"></div>
			<div class="move-base move6"></div>
			<div class="move-base move7"></div>
			<div class="move-base move8"></div>
			<div class="move-base move9"></div>
		</div>
		<div class="page3-title">
			<div class="uptitle">
				还童实力
			</div>
			<div class="downtitle">
				 Huantong's power
			</div>
		</div>
	</div>
	<div class="section s4 bg4" >
		<div class="page4-tree"></div>
		<div class="page4-content-div">
			<div class="p4-title">
				宇宙通识教育知识树
			</div>
			<p class="p4-content">
				以认知宇宙、了解宇宙万物为线索，以多元、立体化的环境为依托，以多重
				感官探索为手段，关联儿童生活经验，构建儿童科学的宇宙观、价值观、人
				生观，促进儿童生命的成长，让儿童成为他（她）自己。
			</p>
		</div>
	</div>
	<div class="section s5 bg5" >
		
	</div>
	<div class="section s6 bg6" >
		<div class="p6">
			<div class="p6-left">
				<div class="p6-title">
					还童世界
				</div>
				<div class="p6-sub-title">
					拥有人类童心，实现自我宇宙
				</div>
				<div class="p6-2dcode">
					<img src="/static/assets/images/2dcode.jpg" />
					<div style="clear:both;">
						
					</div>
				</div>
			</div>
			<div class="p6-right">
				<div class="p6-right-line1">
					北京还童文化传媒有限公司
				</div>
				<div class="p6-right-line2">
					<img src="/static/assets/images/p6-icon-location.png" />北京市通州区九棵树西路90号
				</div>
				<div class="p6-right-line2">
					弘祥1979文化创意产业园A座2层8235
				</div>
				<div class="p6-right-line2">
					<img src="/static/assets/images/p6-icon-phone.png" />电话：010-57053009
				</div>
				<div class="p6-right-line2">
					<img src="/static/assets/images/p6-icon-link.png" />网址：www.huantong3.com
				</div>
				<div class="p6-right-line2">
					<img src="/static/assets/images/p6-icon-mail.png" />E-mail:huantong@huantong3.com
				</div>
			</div>
		</div>
	</div>
</div>

<script color="255,255,255" opacity='1' zIndex="1" count="10" src="/static/assets/js/canvas-nest.min.js"></script>
<script src="/static/assets/js/jquery.easings.min.js"></script>
<script src="/static/assets/js/jquery.fullPage.min.js"></script>

{% endblock %}

{%block script%}
<script type="text/javascript">
    $(function(){
		$('#fullpage').fullpage({
			navigation:'true',
			navigationPosition:'right',
			navigationColor:'#ffffff',
			afterLoad:function(anchorLink,index){
				if(index == 2){
					index2Anim('add');
				}
			},
			onLeave:function(index,nextIndex,direction ){
				if(index == 2){
					index2Anim('reset');
				}
			}
		});
	});
	
	function index2Anim(type){
		if(type == 'add'){
			$(".fly").addClass("anim");
		}
		
		if(type == 'reset'){
			$(".fly").removeClass("anim");
		}
		
	}
	
	

</script>
{%endblock%}